<div class="component-header" id="{{group.ID}}">
    <h2>{{component}}</h2>
    {% set needs_num = group.historical|length > 1 %}
    {% for hist_info in group.historical %}
    <div class="component-etymology-section">
        <p class="component-keyword">{{loop.index if needs_num else ''}}{{hist_info.gloss}}</p>
        {% if hist_info.OC %}
        <p class="component-pronunciation"><em>Old Chinese:</em> {{hist_info.OC}}</p>
        {% endif %}
        {% if hist_info.MC %}
        <p class="component-pronunciation"><em>Middle Chinese:</em> {{hist_info.MC}}</p>
        {% endif %}
        {% if hist_info.LMC %}
        <p class="component-pronunciation"><em>Late Middle Chinese:</em> {{hist_info.LMC}}</p>
        {% endif %}
    </div><!-- end component-etymology-section -->
    {% endfor %}
</div><!-- end component-header -->
