<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="normalize-8.0.1.css" />
    <link rel="stylesheet" href="style.css" />
    {% if lang is defined %}
    <link rel="stylesheet" href="{{ lang }}-style.css" />
    {% endif %}
    <title>Uniunihan Dictionary</title>
</head>

<body>
