{% include 'header.html.jinja' %}
<div id="content">
    <h1>Part {{part_num}}</h1>
    <div id="intro">
        {{ intro }}
    </div>
</div>
{% include 'nav.html.jinja' %}
{% include 'footer.html.jinja' %}
