<div id="{{ lang }}_content">
    <h1>Part {{loop.index}}</h1>
    {{ intros[lang] }}
    {% for purity_type, pg in data.items() %}
    <div class="purity-group" id="pg-{{ lang }}-{{ purity_type }}">
        <div class="purity-group-header">
            {{ purity_group_header(purity_type) }}
        </div><!-- end purity-group-header -->
        {% for component, group in pg.groups.items() %}
        <div class="component" id="{{ group.ID }}">
            {% include 'component_header.html.jinja' %}
            {%- set spacing = joiner("<br />") %}
            {% for cluster in group.clusters %}{{ spacing() }}
            <div class="cluster" id="cluster-{{ lang }}-{{ component }}-{{ loop.index }}">
                {% for char, char_info in cluster.items() %}
                <div class="cell" id="{{ char_info.ID }}">
                    {% include lang + '_char.html.jinja' %}
                </div><!-- end cell -->
                {% endfor %}
            </div><!-- end cluster -->
            {% endfor %}
        </div><!-- end component -->
        {% endfor %}
    </div><!-- end purity-group -->
    {% endfor %}
</div><!-- end {{lang}}_content -->
