{% block zh_hk_content %}
<div id="zh_hk_content">
    {{ zh_hk_intro }}
    {% for purity_type, groups in zh_hk_data.items() %}
    <div class="purity-group" id="中-purity-group-{{ purity_type }}">
        <div class="purity-group-header">
            {{ purity_group_header(purity_type) }}
        </div>
        {% for component in groups %}
        <div class="component" id="中-component-TODO-component-id">
            {{ component_header(component.component) }}
            {%- set spacing = joiner("<br />") %}
            {% for cluster in component.clusters %}{{ spacing() }}
            <div class="cluster" id="中-cluster-TODO-cluster-id">
                {% for char in cluster.values() %}
                <div class="cell" id="中-cell-{{ char.id }}">
                    <div class="box left-column border">
                        <div class="box character">{{ char.trad }}</div>
                        <div class="box id">{{ char.id }}</div>
                    </div>

                    <div class="box right-column border">
                        <div class="char-data">

                            <div class="box simp-form">{%-
                                set comma = joiner(",")
                                %}{%
                                for c in char.simp %}{{ comma() }}{{
                                c}}{%
                                endfor %}</div>
                            <div class="box pron">{{
                                char.prons|
                                map(attribute='pron')|
                                map('num2diacritic')|
                                join('、')
                                }}</div>
                            <div class="box kun-yomi">{%-
                                set comma = joiner("、") %}{%-
                                for p in char.kun_yomi %}{{ comma() }}{{
                                p }}{%
                                endfor %}
                            </div>
                            <div class="box keywords">{{ char.keyword }}</div>
                            <div class="box vocab">{{
                                char.prons|
                                map(attribute='vocab')|
                                map(attribute='surface')|
                                join('<br />')
                                }}</div>
                            <div class="box vocab-pron">{{
                                char.prons|
                                map(attribute='vocab')|
                                map(attribute='pron')|
                                map('num2diacritic')|
                                join('<br />')
                                }}</div>
                            <div class="box vocab-meaning">{{
                                char.prons|
                                map(attribute='vocab')|
                                map(attribute='english')|
                                map('break_slashes')|
                                join('<br />')
                                }}</div>
                        </div>
                        {% if 'comment' in char
                        %}<div class="comment">{{ char['comment'] }}</div>{%
                        endif %}
                    </div>
                    <div class="box cross-ref border">
                        {%- if 'cross_ref' in char -%}
                        <div>{% set break = joiner("<br />")
                            %}{% for lang, id in char.cross_ref.items() %}{{ break()}}
                            <a href="#{{ lang }}-cell-{{ id }}">{{ lang }}: {{ id }}</a>{% endfor %}
                        </div>
                        {%- endif -%}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
