<div class="box left-column border">
    <div class="box character">{{ char_info.trad }}</div>
    <div class="box id">{{ char_info.ID|format_id }}</div>
</div>
<div class="box right-column border">
    <div class="char-data">

        <div class="box simp-form">{%-
            set comma = joiner(",")
            %}{%
            for c in char_info.simp %}{{ comma() }}{{
            c}}{%
            endfor %}</div>
        <div class="box pron">{{
            char_info.prons.keys()|
            map('num2diacritic')|
            join('、')
            }}</div>
        <div class="box kun-yomi">
            TODO: Cantonese?
        </div>
        <div class="box keywords">{{ char_info.english|join('; ') }}</div>
        <div class="box vocab">{{
            char_info.prons.values()|
            sum(attribute='vocab', start=[])|
            map(attribute='surface')|
            join('<br />')
            }}</div>
        <div class="box vocab-pron">{{
            char_info.prons.values()|
            sum(attribute='vocab', start=[])|
            map(attribute='pron')|
            map('num2diacritic')|
            join('<br />')
            }}</div>
        <div class="box vocab-meaning">{{
            char_info.prons.values()|
            sum(attribute='vocab', start=[])|
            map(attribute='english')|
            map('break_slashes')|
            join('<br />')
            }}</div>
    </div>
    {% if 'comment' in char_info
    %}<div class="char-note">{{ char.comment }}</div>{%
    endif %}
</div>
{% include 'cross_ref.html.jinja' %}
